.id-link {
  background-color: transparent;
}

.id-link > input {
  padding: 2px;
  box-sizing: border-box;
  background-clip: content-box;
  width: 100%;
  font-size: 24px;
}

.id-link > .invalid {
  border: 2px solid red;
  outline: none;
}

.id-link > ul {
  background-color: #fff;
  margin: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  animation: slideDown 0.1s;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}

.id-link > ul.closed {
  display: none;
}

.id-link > ul li {
  padding: 2px 5px;
  border-bottom: 1px solid #eee;
}

.id-link > ul li.selected {
  background-color: #ccc;
}

.id-link > ul li:last-child {
  border-bottom: none;
}
