<input type="text" class="form-control"
       placeholder="{{placeholder}}"
       [disabled]="disabled"
       [ngModel]="inputText"
       (input)="onInput($event)"
       idLinkValue
       #inputBox="ngModel"
       [readonly]="readonly"
       [required]="required"
       [typeahead]="readonly ? [] : linkService.prefixes"
       container="body"
       [typeaheadMinLength]="suggestThreshold"
       [typeaheadOptionsLimit]="suggestLength"
       (typeaheadOnSelect)="onSelect($event)"
       #ahead="bs-typeahead"
       (keyup.enter)="ahead._container ? $event.stopPropagation() : ''"/>
