<main class="col-xs-12 col-sm-8 col-sm-offset-2">
    <h1>Universal link field</h1>
    <p>An Angular-based input control harnessing the REST service from <a href="http://identifiers.org/">Identifiers.org</a>
      to power typeahead suggestions, validation and link retrieval. It supports both prefix:ID URIs and conventional URLs.</p>
    <dl>
        <dt>Model:</dt>
        <dd><pre>{{modelValue | json}}</pre></dd>
        <dt>URL:</dt>
        <dd><pre>{{linkField.link() ? linkField.link() : 'None available'}}</pre></dd>
    </dl>
    <form [ngClass]="{'has-error': link.invalid}">
        <id-link name="link"
                 #link="ngModel"
                 [(ngModel)]="value"
                 [suggestLength]="15"></id-link>
    </form>
    <iframe [src]="linkField.link(true, false)" frameborder="0"></iframe>
</main>
